.App {
  text-align: center;
}

.Header {
  background-color: rgb(97, 97, 228);
  height: 80px;
  padding: 20px;
  color: white;
}

.Header-title {
  font-size: 1.5em;
}

.Note-container {
  padding: 5px;
  height: 30px;
  margin: 2px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(197, 197, 197);
}

.Note-text {
  font-size: 1.5em;
}

.AddNote-container {
  font-size: 1.5em;
}